body {
  margin: 10px;
  padding: 10px;
}
h1{
  font-size: xx-large;
  color:white;
}
ul li a{

  float:right;
  font-size: large;
}
.cl1{
  background-color: rgb(4, 5, 61);
  height: 70px;
  width: 100%;
}
.cl2{
  display:inline;
}

.cl2 a{
  text-decoration: none;
  padding:10px;
  margin: 10px;
  color: white;
}
.cl2 a:hover{

  background-color: white;
  color: black;
  border-radius: 5px;
  transition: 0.6s;
}

.cl3{

  padding: 50px;
  color: rgb(145, 27, 27);
  font-size: xxx-large;
  font-family: Gill Sans, sans-serif;
  font-weight: 900;

}
.cl4{
  background-color:black ;
  box-shadow:  20px 30px  rgba(0,0,0,0.2);
}
.cl5{
  padding: 30px;
}
.cl6{
  width: 100%;
  height: 40%;
}
.cl7 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  padding: 5px;
  height: 400px;
}
p{
  text-align: center;
  padding:30px
}
 .cl8 tr td:hover {
  background-color:rgb(4, 5, 61);
  color: white;
  transition: 0.5s;
  color: red;
}

.cl8 td{
  width: 10%;
  text-align: center;
}
.cl9{
  padding: 20px;
  margin: 20px;
  text-align: center;
  color: white;
  background-color: black;
  height: 100px;

}
